<div class="border-right p-3" id="sidebar">
  <h3>Países</h3>
  <hr>
  <div class="list-group list-reset">
    <!-- <li class="list-group-item" routerLink="home" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home Page</li>
    <li class="list-group-item" routerLink="about" routerLinkActive="active">About Page</li>
    <li class="list-group-item" routerLink="contact" routerLinkActive="active">Contact Page</li> -->
    <li class="list-group-item" routerLink="countries/by-capital" routerLinkActive="active">Por Capital</li>
    <li class="list-group-item" routerLink="countries/by-country" routerLinkActive="active">Por País</li>
    <li class="list-group-item" routerLink="countries/by-region" routerLinkActive="active">Por Región</li>
  </div>
</div>
